[submodule "its/sources"]
	path = its/sources
	url = https://github.com/SonarSource/ruling_java.git
[submodule "its/ruling/src/test/resources/change-based-analysis-main"]
	path = its/ruling/src/test/resources/change-based-analysis-main
	url = https://github.com/dorian-burihabwa-sonarsource/change-based-analysis-test-sources
	branch = main
[submodule "its/ruling/src/test/resources/change-based-analysis-branch-same"]
	path = its/ruling/src/test/resources/change-based-analysis-branch-same
	url = https://github.com/dorian-burihabwa-sonarsource/change-based-analysis-test-sources
	branch = branch-same
[submodule "its/ruling/src/test/resources/change-based-analysis-branch-diff"]
	path = its/ruling/src/test/resources/change-based-analysis-branch-diff
	url = https://github.com/dorian-burihabwa-sonarsource/change-based-analysis-test-sources
	branch = branch-diff
