language: java

jdk:
  - oraclejdk7

install: true
script: ./travis.sh
env:
  - TESTS=CI
  - TESTS=IT-DEV

matrix:
  fast_finish: true

cache:
  directories:
    - '$HOME/.m2/repository'

notifications:
  email: false
