version: 1.0.{build}

branches:
  only:
  - master

cache:
  - C:\Users\appveyor\.m2 -> **\pom.xml

install:
  - git submodule update --init --recursive
  - set MAVEN_VERSION=3.2.5
  - choco install maven -version %MAVEN_VERSION%
  - set PATH=%PATH%;C:\bin\apache-maven-%MAVEN_VERSION%\bin
  - set JAVA_HOME=C:\Program Files\Java\jdk1.7.0

environment:
  matrix:
  - RUN: ruling
    SQ_VERSION: LATEST_RELEASE
  - RUN: its
    SQ_VERSION: DEV
  - RUN: ci
  - RUN: its
    SQ_VERSION: LTS_OR_OLDEST_COMPATIBLE

matrix:
  fast_finish: true

build_script:
  - ps: ./appveyor.ps1

test: off

notifications:
- provider: HipChat
  room: 361097
  auth_token:
    secure: RW8+2GpOWo3PcoM3ehoI+mbfUr7h508RtTDyszpR6/E=
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: true
