excludes=**/*sources.jar **/*javadoc.jar **/its/sources/** **/java-checks-test-sources/**
fileSystemScan=False
resolveAllDependencies=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.m2RepositoryPath=.m2/repository
maven.resolveDependencies=True
maven.runPreStep=False

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true
