<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SonarJava Viewer</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">

    <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7/css/bootstrap.css">
    <script src="lib/jquery-3.2.1/jquery.js"></script>
    <script src="lib/bootstrap-3.3.7/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/codemirror-5.27.2/codemirror.css">
    <script src="lib/codemirror-5.27.2/codemirror.js"></script>
    <script src="lib/codemirror-5.27.2/mode/clike/clike.js"></script>
    <script src="lib/codemirror-5.27.2/addon/selection/active-line.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/viewer/style.css">
    <script src="lib/viewer/viewer.js"></script>

    <script src="lib/vis-4.20.0/vis.js"></script>
  </head>
</head>
<body>
  <div class="container-fluid">
    <div class="col-md-3">
      <div class="row">
        <h1>Java sample</h1>
        <form action="/" method="post">
          <div style="border: solid lightgray 1px; margin-bottom: 10px;">
             <textarea id="java-code" name="javaCode">$javaCode</textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Generate</button>
            <a href="/" class="btn btn-default" role="button">Reset</a>
          </div>
        </form>
        <h1>Control Flow Graph</h1>
        <div style="border: solid lightgray 1px;">
          <textarea id="cfg-code">$cfg</textarea>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div id="graphs">
          <div class="panel panel-danger" id="errorBox">
            <div class="panel-heading">
              <h3 class=panel-title>$errorMessage</h3>
            </div>
            <div class="panel-body">
              <p style="font-family: monospace;">$errorStackTrace</p>
            </div>
          </div>
          <div id="tabs">
            <ul class="nav nav-tabs">
              <li class="active"><a  href="#eg" data-toggle="tab">Exploded Graph</a></li>
              <li><a href="#cfg" data-toggle="tab">Control Flow Graph</a></li>
              <li><a href="#ast" data-toggle="tab">Syntax Tree</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="eg">
                <div class="col-md-8">
                  <div id="eg-container" style="height: 800px;"></div>
                </div>
                <div class="col-md-4">
                  <div style="margin: 10px;">
                     <div id="eg-details" >
                       <em>Select a node or an edge from the graph for more details...</em>
                     </div>
                     <div id="eg-nodeDetails">
                       <div class="panel panel-default">
                         <div class="panel-heading">Node</div>
                         <div class="panel-body"></div>
                       </div>
                     </div>
                     <div id="eg-edgeDetails">
                       <div class="panel panel-default">
                         <div class="panel-heading">Edge</div>
                         <div class="panel-body"></div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="cfg">
                <div id="cfg-container" style="height: 800px;"></div>
              </div>
              <div class="tab-pane" id="ast">
                <div id="ast-container" style="height: 800px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var javaEditor = CodeMirror.fromTextArea(document.getElementById("java-code"), {
      lineNumbers: true,
      matchBrackets: true,
      styleActiveLine: true,
      mode: "text/x-java"
    });
    var cfgEditor = CodeMirror.fromTextArea(document.getElementById("cfg-code"), {
      lineNumbers: true,
      matchBrackets: true,
      styleActiveLine: true,
      readOnly: true,
      mode: "text/x-java"
    });

    var errorMessage = '$errorMessage';

    if (errorMessage) {
      cfgEditor.setValue("");

      var tabs = document.getElementById('tabs');
      tabs.parentNode.removeChild(tabs);
    } else {
      var explodedGraphContainer = document.getElementById('eg-container');
      var dotEG = '$dotEG';
      var detailsPanels = {
         info: $('#eg-details'),
         node: $('#eg-nodeDetails'),
         edge: $('#eg-edgeDetails')
      };
      loadDot(dotEG, explodedGraphContainer, false, detailsPanels);

      var cfgContainer = document.getElementById('cfg-container');
      var dotCFG = '$dotCFG';
      loadDot(dotCFG, cfgContainer, false);

      var astContainer = document.getElementById('ast-container');
      var dotAST = '$dotAST';
      loadDot(dotAST, astContainer, true);

      var errorBox = document.getElementById('errorBox');
      errorBox.parentNode.removeChild(errorBox);
    }
  </script>
</body>
</html>
