#programstate {
  height: 150px;
  font-family: sans-serif;
  font-size:small;
  border-bottom: 1px solid lightgray;
}

#programstate table {
  font-size:small;
}

#programstate td {
  padding-left: 10px;
}

#programstate td:first-child {
  font-weight: bold;
}
