.keyword {
  -fx-fill: #7F0055;
  -fx-font-weight: bold;
}
.comment {
  -fx-fill: green;
  -fx-font-style: italic;
}
.string {
  -fx-fill: blue;
}
.semicolon {
}
.paren {
}
.bracket {
}
.brace {
}
.lineno {
  -fx-font-style: normal;
}

.paragraph-box:has-caret {
  -fx-background-color: #f2f9fc;
}
