---
name: sonar-release
# This workflow is triggered when publishing a new github release
# yamllint disable-line rule:truthy
on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        required: true
      releaseId:
        type: string
        description: Release ID
        required: true
      dryRun:
        type: boolean
        description: Flag to enable the dry-run execution
        default: false

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    uses: SonarSource/gh-action_release/.github/workflows/main.yaml@v6
    with:
      publishToBinaries: true
      mavenCentralSync: true
      slackChannel: squad-jvm-notifs
      # We do not have any inputs if this workflow is triggered by a release event, hence we have to use a fallback for all inputs
      version: ${{ inputs.version || github.event.release.tag_name }}
      releaseId: ${{ inputs.releaseId || github.event.release.id }}
      dryRun: ${{ inputs.dryRun == true }}
